{% block title %}О холдинге{% endblock %}
{% block content %}
{% include "navbar" %}


    <section class="slide-1 wrapper-helper"
             data-0="background:rgba(0,0,0,1);"
             data-500="background:rgba(255,255,255,1)"
             data-7800="background:rgba(255,255,255,1)"
             data-8000="background:rgba(0,0,0,1)">



        <div class="s-card" id="intro"
             data-0="transform:scale(1)"
             data-500="transform:scale(0.2);left:0%"
             data-710="transform:scale(0.2);left:0%"
             data-800="left:-10%"
             data-1500="opacity:1;"
             data-1800="left:-100%; top:6%; opacity:0"
             <!--data-11100="left:0%; top:-15%; opacity:0"-->
             <!--data-11400="left:0%; opacity:1">-->
        </div>

        <div class="slide-1--card s-card s-card--chevron"
             data-0="transform:scale(0.5); top:70%"
             data-500="transform:scale(0.2); left:0%"
             data-710="transform:scale(0.2); left:0%"
             data-800="left:-10%"
             data-1500="opacity:1;"
             data-1800="left:-100%; top:6%; opacity:0">
            <i class="glyphicon glyphicon-chevron-down" style="color: #ffffff"></i>
        </div>
        <div class="slide-1--card s-card s-card--this"
             data-0="display: none"
             data-760="display: block; opacity:0; left:25%"
             data-830="opacity:1; left:20%;"
             data-1500="left:18%;"
             data-1800="left:-50%; opacity:0">это</div>

        <div class="s-card"   style="width: 100%;"
             data-0="display:none;"
             data-1500="left:100%; opacity:0; display:block"
             data-1900="left:0%; opacity:1"
             data-2300="left:0%; opacity:1"
             data-2500="left:-100%; opacity:0">
            <div class="container" style="z-index: 1000;" >
                <h1>Диверсифицированный издательский холдинг:</h1>
            </div>
        </div>
        <!--<div class="s-card"  id="ripol"-->
        <!--data-0="display:none;"-->
        <!--data-2300="left:30%; opacity:0; top: 80%; display:block"-->
        <!--data-2500="opacity:0;"-->
        <!--data-2800="opacity:0.8;  top:0%; left:-2%"-->
        <!--data-3000="opacity:0.8; left:-2%"-->
        <!--data-3300="left:30%; top:80%; opacity:0">-->
        <!--</div>-->
        <div class="s-card"  style="width: 100%;"
             data-0="display:none;"
             data-2300="left:100%; opacity:0; display:block"
             data-2700="left:0%; opacity:1"
             data-3100="left:0%; opacity:1"
             data-3300="left:-100%; opacity:0">
            <div class="container" style="z-index: 1000;" >
                <h1>Издательская платформа, в&nbsp;которую входят издательства, выпускающие свыше 15&nbsp;млн книг в&nbsp;год</h1>
                <p class="lead">На&nbsp;сегодняшний день это такие издательства, как &laquo;РИПОЛ классик&raquo;, &laquo;Постум&raquo;, &laquo;ДеЛибри&raquo;, &laquo;Владис&raquo;, &laquo;Книга по&nbsp;требованию&raquo;</p>
            </div>
        </div>

        <div class="s-card"  style="width: 100%;"
             data-0="display:none;"
             data-3100="left:100%; opacity:0; display:block"
             data-3500="left:0%; opacity:1"
             data-3900="left:0%; opacity:1"
             data-4100="left:-100%; opacity:0">
            <div class="container" style="z-index: 1000;" >
                <h1>Первая в&nbsp;России уникальная IT-платформа для управления всем циклом издательского бизнеса</h1>
                <p class="lead">От&nbsp;создания различных видов контента до&nbsp;дистрибуции книги конечным потребителям по&nbsp;всем видам каналов сбыта</p>
            </div>
        </div>

        <div class="s-card"  style="width: 100%;"
             data-0="display:none;"
             data-3900="left:100%; opacity:0; display:block"
             data-4300="left:0%; opacity:1"
             data-4700="left:0%; opacity:1"
             data-4900="left:-100%; opacity:0">
            <div class="container" style="z-index: 1000;" >
                <h1>Крупнейший агрегатор прав на&nbsp;тексты в&nbsp;России, представляющий интересы более 5000 российских и&nbsp;зарубежных авторов</h1>
            </div>
        </div>

        <div class="s-card"  style="width: 100%;"
             data-0="display:none;"
             data-4700="left:100%; opacity:0; display:block"
             data-5100="left:0%; opacity:1"
             data-5500="left:0%; opacity:1"
             data-5700="left:-100%; opacity:0">
            <div class="container" style="z-index: 1000;" >
                <h1>Второй по&nbsp;величине книжный дистрибьютор в&nbsp;России, работающий более с&nbsp;чем 3000 магазинов</h1>
                <p class="lead">Среди них книжные сети, киоски, в&nbsp;том числе на&nbsp;вокзалах, в&nbsp;супермаркетах и&nbsp;магазинах, типа &laquo;Магнит&raquo;, &laquo;Перекресток&raquo;, &laquo;Ашан&raquo;, а&nbsp;также книготорговые дистрибьюторы и&nbsp;интернет-магазины</p>
            </div>
        </div>

        <div class="s-card"  style="width: 100%;"
             data-0="display:none;"
             data-5500="left:100%; opacity:0; display:block"
             data-5900="left:0%; opacity:1"
             data-6300="left:0%; opacity:1"
             data-6500="left:-100%; opacity:0">
            <div class="container" style="z-index: 1000;" >
                <h1>Крупнейший российский дистрибьютор за&nbsp;рубежом</h1>
                <p class="lead">в&nbsp;сеть входит 35&nbsp;000 магазинов за&nbsp;границей, включая &laquo;Amazon&raquo;, &laquo;Apple&raquo;, &laquo;Barnes &amp;&nbsp;Noble&raquo;, &laquo;Waterstone&rsquo;s&raquo;, &laquo;Ingram&raquo; и&nbsp;другие</p>
            </div>
        </div>

        <div class="s-card"  style="width: 100%;"
             data-0="display:none;"
             data-6300="left:100%; opacity:0; display:block"
             data-6700="left:0%; opacity:1"
             data-7100="left:0%; opacity:1"
             data-7300="left:-100%; opacity:0">
            <div class="container" style="z-index: 1000;" >
                <h1>Единственный в&nbsp;России эксклюзивный дистрибьютор компании &laquo;Ingram&raquo;, являющейся крупнейшим правообладателем в&nbsp;мире на&nbsp;различные виды иностранного контента</h1>
            </div>
        </div>

        <div class="s-card"  style="width: 100%;"
             data-0="display:none;"
             data-7100="left:100%; opacity:0; display:block"
             data-7500="left:0%; opacity:1"
             data-7900="left:0%; opacity:1"
             data-8100="left:-100%; opacity:0">
            <div class="container" style="z-index: 1000;" >
                <h1>Самая современная цифровая типография в&nbsp;России с&nbsp;уникальным для России оборудованием.</h1>
            </div>
        </div>

        <div class="s-card"  style="width: 100%;"
             data-0="display:none;"
             data-7900="left:100%; opacity:0; display:block; color: rgb(0,0,0)"
             data-8300="left:0%; opacity:1; color: rgb(255,255,255)"
             data-8700="left:0%; opacity:1">
            <div class="container" style="z-index: 1000;" >
                <h1>Мы создаем сервисы, позволяющие раскрывать таланты, создавая тем самым новые бренды и расширяя рынок читательских предпочтений.</h1>
            </div>
        </div>

        <div id="progress" data-0="width:0%;background:hsl(150, 100%, 50%);" data-end="width:100%;background:hsl(320, 100%, 50%);"></div>

        <div id="bg1" data-0="background-position:0px 0px;" data-end="background-position: 1500px -1500px;"></div>
        <div id="bg2" data-0="background-position:0px 0px;" data-end="background-position: 1000px -1000px;"></div>
        <div id="bg3" data-0="background-position:0px 0px;" data-end="background-position: 2000px -2000px;"></div


    </section>
{% endblock %}
{% block styles %}
{{ "fixedpos.css" | asset_url | stylesheet_tag }}
{% endblock %}
{% block scripts %}
{{ "imagesloaded.js" | asset_url | script_tag }}
{{ "skrollr.js" | asset_url | script_tag }}
<script type="text/javascript">
        skrollr.init();
</script>

{% endblock %}