{% block title %}Связь с нами{% endblock %}
{% block content %}
{% include "navbar-static" %}

<div id="wrapper" class="container" style="margin-bottom: 3em">
    <h1>Связь с нами</h1>
        <h3>T8 — Инвестиционно-издательский холдинг, г.Москва</h3>
        <p><strong>Офис:</strong> 109147 г. Москва, ул. Большая Андроньевская, д.23</p>
        <p><strong>Тел./fax</strong> (495) 775–88–85 (многоканальный)</p>
        <p><strong>E-mail:&nbsp;<a href="mailto:contact@t8.com"><span style="text-decoration: underline;">contact@t8group.ru</span></a></strong></p>
        <p><strong>Как проехать:</strong><br>м. Марксистская. Выход из метро налево к ТЦ «Таганский». Далее любым наземным транспортом 2 остановки до Покровского женского монастыря (Святой Матроны). Перейти на противоположную сторону и пройти примерно&nbsp;100 м. Перейти дорогу к 7-этажному зданию бордового цвета. Вход с левого торца. На первом этаже находится бюро пропусков.</p>
</div>

<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=63-ILnv8D3ncudCVooBpRO7mm8ytRlRb&width=600&height=450"></script>

{% endblock %}