{% block title %}Предложение инвесторам{% endblock %}
{% block content %}
{% include "navbar-static" %}

<div class="wrapper-helper">
    <div id="wrapper" class="container">
<h1>Предложение инвесторам</h1>
<div class="row">
    <div class="col-md-6">
        <p>Наш бизнес&nbsp;&mdash; это оптимизация издательской деятельности, увеличение прозрачности и&nbsp;усиление мощности игроков рынка за&nbsp;счет внедрения инновационных решений. T8&nbsp;&mdash; это издательская инфраструктура полного цикла, от&nbsp;идеи книги до&nbsp;печати, от&nbsp;складского хранения до&nbsp;выкладки на&nbsp;витринах магазинов и&nbsp;доставки конечному потребителю. Средним и&nbsp;малым игрокам издательского рынка T8&nbsp;предлагает аутсорсинговые услуги, благодаря которым можно существенно сэкономить на&nbsp;процессе редакционной подготовки, увеличивая объемы и&nbsp;при этом повышая рентабельность.</p>
    </div>
    <div class="col-md-6">
        <p>В&nbsp;условиях постоянного роста мы&nbsp;инвестируем денежные средства в&nbsp;развитие инфраструктуры T8. Начиная с&nbsp;марта 2014 года мы&nbsp;начали создавать инновационный издательский комплекс, состоящий из&nbsp;8&nbsp;независимых направлений. На&nbsp;сегодняшний день мы&nbsp;предлагаем издательствам и&nbsp;независимым издателям нашу помощь в&nbsp;создании книжных проектов.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>В&nbsp;холдинг&nbsp;T8, чей оборот составляет 1&nbsp;млрд руб. в&nbsp;год, входят следующие независимые направления:</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <ol >
            <li>Аналитическое направление</li>
            <li>Направление редакционно-издательской деятельности</li>
            <li>Направление офсетной и&nbsp;цифровой печати</li>
            <li>Продвижение книжных продуктов</li>
            <li>Правовые услуги в&nbsp;области авторского права</li>
            <li>Услуги складской логистики</li>
            <li>Услуги дистрибуции (распространение книжной продукции)</li>
        </ol>
        <a href="/">Подробнее о направлениях</a>

    </div>
    <div class="col-md-6">
        <p>Для оптимизации взаимодействия с&nbsp;нашими клиентами мы&nbsp;разрабатываем и&nbsp;внедряем современное программное обеспечение, позволяющее сохранять любую информацию, оптимизирующее работу с&nbsp;авторскими правами, обеспечивающее учет складской логистики, помогающее продвигать книжные продукты на&nbsp;рынке, а&nbsp;также позволяющее существенно увеличить мощность производственно-типографского комплекса за&nbsp;счет установки самого современного оборудования для цифровой печати.</p>
    </div>
</div>
<br/>
<br/>
<div class="text-center">
    <h2>Этапы реализации</h2>
</div>
<br/>

<div class="container">
    <div class="row">
        <div class="timeline-centered">

            <article class="timeline-entry">

                <div class="timeline-entry-inner">
                    <time class="timeline-time" datetime="2014-01-10T03:45"><span>II квартал</span> <span>2014</span></time>

                    <div class="timeline-icon bg-warning">
                        <i class="entypo-feather"></i>
                    </div>

                    <div class="timeline-label" data-bottom-top="transform[swing]:translate(100%); opacity:0" data-center-top="transform[swing]:translate(0%); opacity:1">
                        <!--<h2>Объем инвестиций: 35 млн. руб.</h2>-->
                        <ul>
                            <li>Разработка системы управления издательскими проектами.</li>
                            <li>Разработка каталога книжной продукции, готовой для печати по&nbsp;требованию.</li>
                            <li>Разработка направления Self-publishing&nbsp;&mdash; сервис для оказания услуг авторам, желающим самостоятельно издать книгу.</li>
                        </ul>
                    </div>
                </div>

            </article>


            <article class="timeline-entry left-aligned">

                <div class="timeline-entry-inner">
                    <time class="timeline-time" datetime="2014-01-10T03:45"><span>III квартал</span> <span>2014</span></time>

                    <div class="timeline-icon bg-warning">
                        <i class="entypo-suitcase"></i>
                    </div>

                    <div class="timeline-label" data-bottom-top="transform[swing]:translate(-100%); opacity:0" data-center-top="transform[swing]:translate(0%); opacity:1">
                        <!--<h2>Объем инвестиций: 215 млн. руб.</h2>-->
                        <ul>
                            <li>Внедрение системы управления издательскими процессами.</li>
                            <li>Запуск совместного проекта с&nbsp;Ozon.ru по&nbsp;оказанию услуг авторам.</li>
                            <li>Установка цифрового печатного конвейера.</li>
                            <li>Переезд компании в&nbsp;Технополис.</li>
                        </ul>
                    </div>
                </div>

            </article>


            <article class="timeline-entry">

                <div class="timeline-entry-inner">
                    <time class="timeline-time" datetime="2014-01-09T13:22"><span>IV квартал</span> <span>2014</span></time>

                    <div class="timeline-icon bg-warning">
                        <i class="entypo-location"></i>
                    </div>

                    <div class="timeline-label" data-bottom-top="transform[swing]:translate(100%); opacity:0" data-center-top="transform[swing]:translate(0%); opacity:1">
                        <!--<h2>Объем инвестиций: 45 млн. руб.</h2>-->
                        <ul>
                            <li>Листинг компании (IPO ММВБ).</li>
                            <li>Запуск обновленного цифрового печатного комплекса.</li>
                            <li>Внедрение программного обеспечения по&nbsp;управлению печатью.</li>
                            <li>Внедрение программного обеспечения по&nbsp;управлению процессами дистрибуции.</li>
                        </ul>

                    </div>
                </div>

            </article>


            <article class="timeline-entry left-aligned">

                <div class="timeline-entry-inner">
                    <time class="timeline-time" datetime="2014-01-10T03:45"><span>I квартал</span> <span>2015</span></time>

                    <div class="timeline-icon bg-warning">
                        <i class="entypo-camera"></i>
                    </div>

                    <div class="timeline-label" data-bottom-top="transform[swing]:translate(-100%); opacity:0" data-center-top="transform[swing]:translate(0%); opacity:1">
                        <!--<h2>Объем инвестиций: 40 млн. руб.</h2>-->
                        <ul>
                            <li>Разработка системы учета складской логистики, комплектации заказов.</li>
                            <li>Апгрейд программного обеспечения по&nbsp;управлению издательскими процессами.</li>
                        </ul>
                    </div>
                </div>

            </article>

            <article class="timeline-entry">

                <div class="timeline-entry-inner">
                    <time class="timeline-time" datetime="2014-01-10T03:45"><span>II квартал</span> <span>2015</span></time>

                    <div class="timeline-icon bg-warning">
                        <i class="entypo-camera"></i>
                    </div>

                    <div class="timeline-label" data-bottom-top="transform[swing]:translate(100%); opacity:0" data-center-top="transform[swing]:translate(0%); opacity:1">
                        <!--<h2>Объем инвестиций: 60 млн. руб.</h2>-->
                        <ul>
                            <li>Подключение сорсеров.</li>
                            <li>Реструктуризация &laquo;РИПОЛ классик&raquo;.</li>
                            <li>Подключение сторонних сорсеров.</li>
                        </ul>
                    </div>
                </div>

            </article>

            <article class="timeline-entry left-aligned">

                <div class="timeline-entry-inner">
                    <time class="timeline-time" datetime="2014-01-10T03:45"><span>III квартал</span> <span>2015</span></time>

                    <div class="timeline-icon bg-warning">
                        <i class="entypo-camera"></i>
                    </div>

                    <div class="timeline-label" data-bottom-top="transform[swing]:translate(-100%); opacity:0" data-center-top="transform[swing]:translate(0%); opacity:1">
                        <!--<h2>Объем инвестиций: 340 млн. руб.</h2>-->
                        <ul>
                            <li>Консолидация нескольких игроков издательского рынка.</li>
                            <li>Реструктуризация аффилированных издательских структур.</li>
                        </ul>
                    </div>
                </div>

            </article>
            <article class="timeline-entry begin">
                <div class="timeline-entry-inner">
                    <div class="timeline-icon bg-info" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                        <i class="entypo-flight"></i>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>


<!--<div class="text-center">-->
<!--<span class="lead"> Итого инвестиции: 735 млн. руб.</span>-->
<!--<p>Presale:(объем акций, доступных по&nbsp;цене инвестиций): 18&nbsp;% (до&nbsp;1-го квартала 2015&nbsp;г.).</p>-->
<!--</div>-->


<!--<div style="margin: 4em auto;" class="table-responsive">-->
<!--<img data-bottom-top="opacity:0" data-center-top=" opacity:1"  src="../assets/img/grapic.svg" class="img-responsive" alt="" style="min-width: 750px"/>-->
<!--</div>-->
<form action="mailer.php" method="post" id="contact_form">
    <div class="row" id="result">
        <div class="col-md-8 col-md-offset-2" >
            <h2>Свяжитесь с нами</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input name="name" id="name" required class="form-control" type="text" placeholder="Имя / Организация"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input name="email" id="email" required class="form-control" type="email" placeholder="Эл. почта"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea name="message" id="message" required class="form-control" rows="10"></textarea>
            </div>
            <div class="lead text-center" id="form-messages"></div>
            <div class="text-center">
                <button type="submit" id="submit_btn" class="btn btn-info">Отправить</button>
            </div>
        </div>
    </div>
    <br/><br/><br/>
</form>
</div>
</div>
{% endblock %}
{% block scripts %}
<!--<script type="text/javascript">-->
    <!--var s = skrollr.init();-->
<!--</script>-->

<script type="text/javascript">
    $(function() {
        // Get the form.
        var form = $('#contact_form');

        // Get the messages div.
        var formMessages = $('#form-messages');

        // Set up an event listener for the contact form.
                $(form).submit(function(event) {
                    // Stop the browser from submitting the form.
                    event.preventDefault();

                    // Serialize the form data.
                    var formData = $(form).serialize();

                    // Submit the form using AJAX.
                    $.ajax({
                        type: 'POST',
                        url: $(form).attr('action'),
                        data: formData
                    })
                    .done(function(response) {
                        // Make sure that the formMessages div has the 'success' class.
                        $(formMessages).removeClass('error');
                        $(formMessages).addClass('success');

                        // Set the message text.
                        $(formMessages).text(response);

                        // Clear the form.
                        $('#name').val('');
                        $('#email').val('');
                        $('#message').val('');
                    })
                    .fail(function(data) {
                        // Make sure that the formMessages div has the 'error' class.
                        $(formMessages).removeClass('success');
                        $(formMessages).addClass('error');

                        // Set the message text.
                        if (data.responseText !== '') {
                            $(formMessages).text(data.responseText);
                        } else {
                            $(formMessages).text('Oops! An error occured and your message could not be sent.');
                        }
                    });



                });
    });
</script>

{% endblock %}
{% block styles %}
<style>
    html, body {
        overflow-x: hidden;
    }
</style>
{% endblock%}
