{% block title %}Люди{% endblock %}
{% block content %}
{% include "navbar-static" %}

<div id="wrapper" class="container" style="margin-bottom: 3em">
    <h1>Люди</h1>
    <br/><br/>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ 'photo-profile-khata-y.jpg' | asset_url}}" class="img-circle  img-ppl" alt=""/>
        </div>
        <div class="col-md-8">
            <h3>Евгений Хата</h3> <span class="text-muted">Председатель Совета Директоров</span>
            <p>
                1978 года рождения. Окончил школу интернат №38, учился в США по программе обмена студентов. В 1994 года был студенческим послом в штате IOWA. С отличием закончил Университет Сан Франциско в США и Оксфордский Университет в Великобритании.
            </p>
            <p>
                С 1997 по 2001 работал в инвестиционном банке Salomon Brothers в Силиконовой долине. В 2002 году вернулся в Россию, работал в компании The Boston Consulting Group, где руководил проектами для Норильского никеля, TNK-BP, Систем Кэпитал Менеджмент, Мегафона, Сбербанка, MTC и других клиентов. C 2005 по 2007 год был главой по слияниям и поглощению корпорации AES, пятого в мире независимого производителя электроэнергии.
            </p>
            <p>
                С 2007 года, управляющий директор инвестиционной компании Гринхилз Инвестменст. С 2010 года Председатель Совета Директоров издательского холдинга Т8.
            </p>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ 'photo-profile-makarenkov-s.jpg' | asset_url}}" class="img-circle img-ppl" alt=""/>
        </div>
        <div class="col-md-8">
            <h3>Сергей Михайлович Макаренков</h3> <span class="text-muted">Член совета директоров T8</span>
            <p>
                Более двадцати лет в отечественной книжной индустрии, профессиональный издатель, заслуженный работник культуры, член Правления Российского книжного союза.
            </p>
            <p>
                Глава «РИПОЛ Классик» — лауреат премии "Человек книги» в номинации «Руководител издательства»; лучший российский издатель года по версии еженедельника «книжное обозрение»;
            </p>
            <p>
                за многолетный и добросовестный труд и большой вклад в развитие издательского дела удостоен благодарности министра культуры и массовых коммуникаций РФ; награжден Орденом Г.Р. Державина «За вклад в русскую литературу»,
                золотой медалью имени Ч. Айтматова «За вклад в книгоиздание Российской Федерации», почетной грамотой «За большой вклад в развитие книгоиздания;
                отмечен Золотым знаком Российского книжного союза за развитие отечественного книгоиздания и многими другими почетными наградами.
            </p>

        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ 'photo-profile-makarenkov-b.jpg' | asset_url}}" class="img-circle  img-ppl" alt=""/>
        </div>
        <div class="col-md-8">
            <h3>Борис Сергеевич Макаренков</h3> <span class="text-muted">Исполнительный директор T8</span>
            <p>
                Год рождения: 1986. Сведения об образовании: высшее, МГИМО Факультет Международного права. Финансовая Академия Факультет Финансового менеджмента. Несколько лет работал в международной юридической Компании Freshfields Bruckhaus Deringer, после чего решил заняться собственным бизнесом в области книгоиздания, в последствии присоеденился к компании Группа Компаний Рипол классик.
            </p>
            <p>
                Все должности, занимаемые данным лицом в эмитенте и других организациях за последние 5 лет и в настоящее время, в том числе по совместительству:            </p>
                <ul class="list-unstyled list-ppl">
                    <li>
                        <small class="text-muted">Период: 2011 год - по настоящее время</small><br/>
                        Организация: Общество с ограниченной ответственностью «Де’Либри»  <br/>
                        Должность: Генеральный директор (по совместительству)
                    </li>
                    <li>
                        <small class="text-muted">Период: 2012 год - по настоящее время</small>  <br/>
                        Организация: Общество с ограниченной ответственностью Группа Компаний «РИПОЛ классик» <br/>
                        Должность: Директор по развитию и реализации проектов
                    </li>
                    <li>
                        <small class="text-muted">Период: 2010 год – 2012 год</small>  <br/>
                        Организация: Общество с ограниченной ответственностью Группа Компаний «РИПОЛ классик» <br/>
                        Должность: Исполнительный директор
                    </li>
                    <li>
                        <small class="text-muted">Период: 2009 год – 2010 год</small>  <br/>
                        Организация: Общество с ограниченной ответственностью «ИФФ Финанс» <br/>
                        Должность: Генеральный директор
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>


{% endblock %}