{% block title %}Люди{% endblock %}
{% block content %}
{% include "navbar-static" %}

<div id="wrapper" class="container" style="margin-bottom: 3em">
    <h1>Люди</h1>
    <br/><br/>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ 'photo-profile-khata-y.jpg' | asset_url}}" class="img-circle  img-ppl" alt=""/>
        </div>
        <div class="col-md-8">
            <h3>Евгений Хата</h3> <span class="text-muted">Председатель Совета Директоров</span>
            <p>
                Родился в 1978 году. Окончил школу-интернат № 38, учился в США по программе обмена
                студентов. В 1994 году был студенческим послом в штате Айова. С отличием закончил
                Университет Сан-Франциско в США и Оксфордский университет в Великобритании.             </p>
            <p>
                С 1997 по 2001 год работал в инвестиционном банке Salomon Brothers в Силиконовой
                долине. В 2002 году вернулся в Россию, работал в компании The Boston Consulting Group,
                где руководил проектами для «Норильского никеля», TNK BP, «Систем Кэпитал
                Менеджмент», «Мегафона», Сбербанка, MTC и других клиентов. C 2005 по 2007 год был
                одним из главных инициаторов слияния и поглощения корпорации AES, пятого в мире
                независимого производителя электроэнергии.             </p>
            <p>
                С 2007 года управляющий директор инвестиционной компании «Гринхилз Инвестменст». <br/>
                С 2010 года председатель совета директоров издательского холдинга Т8.             </p>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ 'photo-profile-makarenkov-s.jpg' | asset_url}}" class="img-circle img-ppl" alt=""/>
        </div>
        <div class="col-md-8">
            <h3>Сергей Михайлович Макаренков</h3> <span class="text-muted">Член совета директоров T8</span>
            <p>
                Более двадцати лет в отечественной книжной индустрии, профессиональный издатель,
                заслуженный работник культуры, член Правления Российского книжного союза.             </p>
            <p>
                Глава издательства «РИПОЛ классик», лауреат премии «Человек книги» в номинации
                «Руководитель издательства»; лучший российский издатель года по версии
                еженедельника «Книжное обозрение».             </p>
            <p>
                За многолетний и добросовестный труд и большой
                вклад в развитие издательского дела удостоен благодарности министра культуры и
                массовых коммуникаций РФ; награжден орденом Г. Р. Державина «За вклад в русскую
                литературу», золотой медалью имени Ч. Айтматова «За вклад в книгоиздание Российской
                Федерации», почетной грамотой «За большой вклад в развитие книгоиздания; отмечен
                Золотым знаком Российского книжного союза за развитие отечественного книгоиздания и
                многими другими почетными наградами. </p>

        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ 'photo-profile-makarenkov-b.jpg' | asset_url}}" class="img-circle  img-ppl" alt=""/>
        </div>
        <div class="col-md-8">
            <h3>Борис Сергеевич Макаренков</h3> <span class="text-muted">Исполнительный директор T8</span>
            <p>
                Родился в 1986 году. Окончил МГИМО, факультет международного права, и Финансовую
                академию, факультет финансового менеджмента. Несколько лет работал в международной
                юридической компании Freshfields Bruckhaus Deringer, после чего решил заняться
                собственным бизнесом в области книгоиздания, впоследствии присоединился к группе
                компаний «РИПОЛ классик».             </p>
            <p>
                За последние пять лет занимал посты генерального директора в ООО «ИФФ Финанс»
                (2009–2010), исполнительного директора в ООО Группа Компаний «РИПОЛ классик» (2010–2012), директора по развитию и реализации проектов в ООО Группа Компаний
                «РИПОЛ классик» (с 2012 года и по настоящее время), генерального директора (по
                совместительству) ООО «Де’Либри» (с 2011 года и по настоящее время).
            </p>
        </div>
    </div>
</div>


{% endblock %}